@import "tailwindcss";

:root {
  --main-color: purple;
  --secondary-color: white;
  --default-fontSize: 16px;
  --small-fontSize: 14px;
  --medium-fontSize: 24px;
  --large-fontSize: 32px;
  --border-radius: 15px
}

@theme {
  --color-main: var(--main-color);
  --color-secondory: var(--secondary-color);
}

*{
  font-family:Arial, Helvetica, sans-serif;
}